body {
    margin: 3em 8%;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    background-image: url("../images/sggbg.png");
}

div.page {
    margin: 0 auto;
}

h1 { 
    justify-content: space-between;
    font-variant: small-caps;
    text-align: center;
    font-size: 260%;
    margin: 2em 0 0.5em 0;
    padding: .25em 0;
    color: blue;
    background-image: linear-gradient(red, yellow);
}
