body {
    background: #ffffff;
    margin: 0px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    overscroll-behavior: none;
}

#navbar {
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#navbar h1 {
    flex-basis: 85%;
    margin: 1%;
}

#navbar a {
    flex-basis: 5%;
    display: block;
    text-align: center;
    padding: 1%;
    text-decoration: none;
    font-size: 22px;
    color: black
}

#navbar a:hover {
    background-color: darkgray;
}

#navbar a.active {
    background-color: darkgray;
}

#navbar img {
    margin: 0.5%;
}

#notification {
    background-color: red;
    padding: 1%;
}

.footer {
    display: flex;
    flex-direction: row;
    background: darkgray;
    padding: 1%;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 1%;
}

/* Main column */
.main {
    flex: 70%;
    background-color: white;
    padding: 1%;
}

.row {
    display: flex;
    flex-direction: row;
}
.calendar{
    height: 50em;
}
